@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
/* font-family: 'Lalezar', cursive; */
* {
  padding: 0;
  margin: 0;
}
#div1 {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 1);
  background-color: rgba(255, 128, 128, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "Lalezar", cursive;
  font-size: 8em;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}
span {
  font-size: 1.5em;
  color: red;
}
button {
  font-family: "Lalezar", cursive;
  font-size: 4em;
  padding: 1em;
  border-radius: 0.25em;
  color: rgba(255, 128, 128, 1);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  border: none;
  transition: box-shadow 0.3s ease-in-out;
  transition: font-size 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
button:hover {
  box-shadow: 14px 14px 14px rgba(0, 0, 0, 0.65);
  font-size: 4.15em;
  color: red;
}

#grid-divs {
  width: 100vw;
  height: 100vh;
  background-color: rgba(128, 128, 128, 1);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#grid-divs section {
  
}
